// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Team 4

$t4_bg_black:#0B100C;
$t4_orange_text:#E68B3F;
$t4_bg_orange:#FF9741;
$t4_white_text:#FFFFFF;
$t4_bg_input:#393838;

// colori
.t4-bg-black{
    background-color: $t4_bg_black;
}
.t4-orangeText{
    color:$t4_orange_text;
}

// altezze

.t4-50vh{
    height: 50vh;
}

.t4-30vh{
    height: 30vh;
}

.t4-10vh{
    height:10vh;
}
.t4-5vh{
    height:5vh;
}
.t4-3vh{
    height:3vh;
}
.t4-h100{
    height:100%;
}

.t4-h100vh{
    height: 100vh;
}
.t4-h80vh{
    height: 80vh;
}

// larghezze
.t4-w100{
    width:100%;
}
.t4-w50{
    width:50%;
}
.t4-w40{
    width:40%;
}
