@import 'variables';

@import 'general-index';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: $t4_bg_black;
    font-family: 'Montserrat', sans-serif;
    color: $t4_white_text;
}

.t4-bg-nav {
    background-color: $t4_bg_black;
    z-index: 1000;
}

.t4-nav-items {
    font-size: 0.7rem
}

.t4-logo {
    height: 100%;

    a {
        height: 100%;
    }

    img {
        height: 100%;
    }
}

.t4-orange-text,
.t4-nav-link {
    color: $t4_orange_text;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// Login e Register Navbar
.nav-item {
    &:hover {
        transform: scale(1.1);
    }

    a {
        height: 100%;

        &:hover {
            color: $t4_orange_text;
        }

        img {
            height: 100%;
        }
    }
}


// JumboRegister
.t4-jumbo-register,
.t4-jumbo-login {
    img {
        width: 100%;
    }


}

.t4-jumbo-create {
    width: 100%;
    border-radius: 20px;
}

.t4-form-register {
    display: flex;

    input {
        margin-bottom: 5px !important;
    }

    label {
        margin-left: 10px;
    }


}

.t4-register-text {
    margin-left: 10px;
}

.t4-register-title {
    color: $t4_white_text;

    p {
        font-weight: 100;
        font-size: 1.2rem;
    }

}

.t4-btn-group {
    display: flex;
    justify-content: center;

    button {
        border-radius: 25px;
        background-color: $t4_bg_black;
        border: 2px solid $t4_orange_text;
        color: $t4_orange_text;
        text-align: center;
        font-size: 0.8rem;
        padding: 2px 25px;

        &:hover {
            background-color: $t4_bg_orange;
            color: #000000;
            border: 2px solid $t4_bg_black;
            // outline-offset: 3px;
            // outline: 2px solid $t4_orange_text;
        }

        &:hover>a {
            color: #000000;
        }

        a {
            color: $t4_orange_text;
        }
    }
}

input {
    background-color: $t4_bg_input  !important;
    border-radius: 25px !important;
    color: $t4_orange_text  !important;
    border: none !important;
    margin-bottom: 20px !important;
    font-size: 0.8rem !important;
    font-weight: 100 !important;

    textarea:focus,
    input:focus {
        border: none;
    }

    &::placeholder {
        color: $t4_orange_text  !important;
    }
}

// change color input
.form-control:focus,
.form-check-input:focus {
    border-color: $t4_orange_text;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 144, 80, 0.995);
}

.t4-checkbox-text,
.t4-forgot {
    color: $t4_orange_text;
    font-size: 0.8rem;
}

.t4-forgot:hover {
    color: rgb(178, 80, 0);
}


.t4-jumbo-login {
    margin-top: 150px
}

// required fields
form label {
    color: $t4_orange_text;
}

form label.required::before {
    content: '*';
    font-size: 1.1em;
    font-weight: bold;
    color: #c00;
    margin-right: 5px;
}

form label.required:after {
    content: '(Questo campo è obbligatorio)';
    font-size: 90%;
    font-weight: normal;
    color: #c00;
    padding-left: 0.5em;
}


.t4-add-btn {
    border: 2px solid $t4_orange_text;
    border-radius: 25px;
    color: $t4_orange_text  !important;

    &:hover {

        transform: scale(1.1);
    }

    img {
        width: 17px;
        margin-left: 2px;
    }

    span {
        color: $t4_orange_text;
    }
}

.t4-title-create {
    h4 {
        font-weight: 200;
    }
}

// Change autocomplete styles in WebKit
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $t4_bg_black;
    box-shadow: 0 0 0px 1000px $t4_bg_orange inset;
    transition: background-color 5000s ease-in-out 0s;
}

//change checkbox color
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $t4_bg_input;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $t4_orange_text;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $t4_orange_text ;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $t4_bg_input;
}

input[type="file"] {
    display: none;
}

.t4-photo-label {
    border: 2px solid $t4_bg_input;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    img {
        height: 1.2rem;

    }
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

// card -index
.t4-card {
    margin: 20px;

    span {
        color: $t4_orange_text;
    }

    .t4-card-img {
        margin-bottom: 20px;


        img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .t4-card-info {
        margin-top: auto;
    }
}

.t4-bg-dash {
    background-color: $t4_bg_black;
}

.t4-card-app {
    background-color: #ccc;
    border-radius: 20px;
    background-image: url('/images/banner-app.png');
    background-size: cover;
    padding: 250px;
    background-position: center;
    position: relative;
    background-blend-mode: multiply;
}

.t4-dashboard-img {
    img {
        width: 25px;
    }
}

.t4-banner-app {
    img {
        width: 100%;
    }
}

.t4-bg-black {

    background-color: rgba(30, 30, 30, 0.602);

}

.t4-container-text {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 30px;
}

.t4-link-hover:hover > a{
    color: rgb(178, 80, 0);
}
.t4-link-hover:hover > button {
    border-color: $t4_orange_text;
}

.t4-warning {
    img {
        width: 30px;
    }
}

.t4-warning-text {
    font-weight: 200;
    font-size: 1rem;
    color: $t4_orange_text;
}

.t4-glass-card{
    background: rgba( 19, 18, 18, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 50px;
}


.t4-not-category
 {
    img {
        width: 50px;
    }
}

.t4-category-icon {
    img{
        width: 40px;
    }
}

.t4-img-categories{

border-radius: 5px;
height: 100px;
margin-bottom: 20px;

}

// Home

.t4-carousel {
    img{
        width: 100%;
        aspect-ratio:1.7;
    }
}

.t4-carousel-p{
    position: relative;
}

.t4-carousel-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.t4-search{
    img{
        width: 25px;
        height: 25px;
    }
}

.t4-bg-banner-top {
    background-image: url('/images/banner-top.jpeg');
    background-size: cover;
    aspect-ratio: 2.5;
}

.t4-card-download{
    background: rgba( 0, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 25px;
}

.t4-text-black{
    color: $t4_bg_black;
}

.t4-banner-app {
    img{
        width:100%;
    };
}

.t4-download{
    img{
        width: 100%;
    }
}

.t4-footer{
    -webkit-box-shadow: 0px -6px 11px -7px #6E6E6E;
box-shadow: 0px -6px 11px -7px #6E6E6E;
}
